@import url('https://fonts.googleapis.com/css?family=Bangers|IM+Fell+English+SC');

body {
	background: url("../images/background.png") no-repeat center center fixed;
	background-color: #79caf9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: auto;
}

header {
	max-width: 75%;
	margin: auto;
	letter-spacing: 10px;
}

h1 {
	font-family: "Bangers", "Arial", sans-serif;
	font-size: 200px;
	color: #006699;
	text-shadow: 10px 10px #000;
}

h2 {
	font-family: "IM Fell English SC", "Georgia", serif;
	font-size: 45px;
	color: #ff751a;
	text-shadow: 3px 3px #000;
	font-weight: bolder;
	margin-top: -70px;
	margin-right: 180px;
	transform: rotate(-12deg);
}

.timeCounter {
	margin-right: 10%;
}

.container {
	clear: both;
	background-color: #ffffffaa;
	width: 50%;
	margin-top: 50px;
	border: 2px solid #666666aa;
	border-radius: 20px;
	padding: 40px;
	overflow: hidden;
}

.question {
	font-size: 26px;
	font-weight: bold;
	line-height: 150%;
}

.answers {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

input[name=option] {
	margin-left: 40px;
}

.answers span:hover{
	background-color: #33ccffaa;
	border-radius: 5px;
	padding: 2px;
}

.btn {
	margin: auto;
	font-size: 30px;
	padding: 20px 80px;
}

.start {
	font-size: 26px;
	word-spacing: 3px;
	width: 100%;
	margin: auto;
	padding: 50px 0 100px 0;
}