@import url('https://fonts.googleapis.com/css?family=Bangers|IM+Fell+English+SC');

body {
	background: url("../images/background.png") no-repeat center center fixed;
	background-color: #79caf9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	margin: auto;
}

header {
	width: 75%;
	margin: auto;
	letter-spacing: 10px;
}

h1 {
	font-family: "Bangers";
	font-size: 200px;
	color: #006699;
	text-shadow: 10px 10px #000;
}

h2 {
	float: right;
	font-family: "IM Fell English SC";
	font-size: 45px;
	color: #ff751a;
	text-shadow: 3px 3px #000;
	font-weight: bolder;
	margin-top: -70px;
	margin-right: 180px;
	transform: rotate(-12deg);
}